/*-- header --*/
.header {
  text-shadow: 2px 2px 2px silver;
  .header_fixed {
    background-color: rgba($color: #efffff, $alpha: 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 2;
  }
  .title {
    font-size: 18px;
    @include overTab {
      font-size: 28px;
      padding-top: 15px;
      padding-bottom: 15px;
      text-shadow: 2px 2px 2px silver;
    }
  }

  .nav-btn {
    display: flex;
    width: 45px;
    height: 30px;
    appearance: none;
    background: transparent;
    border: none;
    font: inherit;
    outline: none;
    position: relative;
    display: block;
    //text-align: right;
    @include overTab {
      display: none;
    }
    &.-active {
      span {
        top: 0;
        bottom: 0;
        margin: auto;
        transition: transform 0.3s;
        &:first-child {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          transform: rotate(45deg);
        }
        &:last-child {
          transform: rotate(-45deg);
        }
      }
    }
    span {
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: cl(black);
      display: block;
      right: 20px;
      &:first-child {
        top: 0;
      }
      &:nth-child(2) {
        top: 0;
        bottom: 0;
        margin: auto;
      }
      &:last-child {
        bottom: 0;
      }
    }
  }
  .nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 10px;
    background-color: #464141cc;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    @include overTab {
      //position: fixed;
      font-size: 20px;
      width: initial;
      background-color: transparent;
      padding-top: 0;
      left: inherit;
      z-index: 3;
      right: 0;
      top: 30px;
      opacity: 1;
      visibility: visible;

      margin-right: 60px;
    }
    &.-active {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.3s ease;
    }
    .nav_wrap {
    }
    .nav_list {
      text-align: center;
      padding-bottom: 45px;
      margin-top: 100px;
      @include overTab {
        display: flex;
        margin-right: 20px;
        padding-bottom: 0;
        margin: 0 auto;
      }

      .item {
        + .item {
          margin-top: 0;
        }
      }
      a {
        margin-left: 0;
        color: cl(white);
        text-decoration: none;
        font-size: 20px;
        background: linear-gradient(transparent 80%, cl(blue) 60%);
        @include overTab {
          margin-left: 15px;
          color: cl(text);
        }
      }
      :hover {
        filter: brightness(60%);
        text-shadow: 6px 6px 6px silver;
      }
    }
  }
}
